@model Gym_odev.Models.Egitmen

@{
    ViewData["Title"] = "Eğitmen Ekle";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Yeni Eğitmen Ekle</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="mb-3">
                            <label class="form-label">Ad Soyad</label>
                            <input asp-for="AdSoyad" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Uzmanlık Alanı (Örn: Fitness)</label>
                            <input asp-for="Uzmanlik" class="form-control" required />
                        </div>
                        
                        <button type="submit" class="btn btn-success w-100">Kaydet</button>
                    </form>
                    <div class="mt-2 text-center">
                        <a asp-action="Index">Listeye Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>